node_modules
dist
dist-ssr
*.local
.vite
.DS_Store
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build cache
*.tsbuildinfo

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# original raw assets (keep them local, optional to upload)
屏幕截图*
0001*

# env
.env
.env.local
.env.*.local
